@{
    ViewBag.Title = "Sobre TrackItNow™";
}
<h2>@ViewBag.Title</h2>
<h1> </h1>
<center><h4>¿Qué es TrackItNow™?</h4></center>
<center><p>TrackItNow™ es un sistema de rastreo para personas dependientes o al cuidado de un familiar, para la cual en ciertas situaciones se necesite saber su ubicación geográfica pudiendo dar con su paradero con exactitud, y de esta forma, poder localizarla rápidamente.</p></center>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<center><p>Con este proyecto perseguimos dar una herramienta para cuando se tiene un familiar o persona cercana a la que por alguna razón necesitásemos rastrear, como por ejemplo una persona con algún tipo de enfermedad, como el Alzheimer, la cual pudiese encontrarse caminando por la calle y repentinamente perder la memoria, desorientándose y no estando en facultad de poder llegar a su casa. Con esta solución se facilitaría la tarea de rastrear a esa persona y si hubiese la necesidad, poder llegar hasta ella rápidamente, eliminando el largo  tiempo de búsqueda que se tendría que emplear de no contar con este sistema.</p></center>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<center><h4>¿De qué elementos consta?</h4></center>
<center><p>El sistema está conformado por un módulo rastreador portátil que se podrá llevar en la mochila o la cartera de la persona a rastrear, y de una página web en la que se podrá observar esa ubicación que emitirá el modulo rastreador inalámbricamente.</p></center>
