@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<p>Para obtener soporte especializado o para consultas relacionadas con el sistema de rastreo TrackItNow™, por favor póngase en contacto a través de nuestra direccion de correo electrónico:</p>


<address>
    <strong>Soporte:</strong>   <a href="trackitnowsupport@ppartner.com">trackitnowsupport@ppartner.com</a><br />

</address>