@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<p>Para obtener soporte especializado o para consultas relacionadas</p>
<p>con nuestro sistema de rastreo TrackItNow™, por favor póngase</p>
<p>en contacto a través de nuestra direccion de correo electrónico:</p>

<address>

</address>

<address>
    <strong>Soporte:</strong>   <a href="supporttrackitnow@gmail.com">supporttrackitnow@gmail.com</a><br />

</address>