@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<p>Para obtener soporte especializado y para consultas sobre el sistema de rastreo TrackItNow™, por favor póngase en contacto a través de nuestra direccion de correo electrónico:</p>


<address>
    <strong>Soporte:</strong>   <a href="trackitnowsupport@ppartners.com">trackitnowsupport@ppartners.com</a><br />

</address>